footer {
    background-color: var(--slate-navy);
    color: white;

    width: 100%;
    height: 400px;
    padding: 50px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
}

.footer-container .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    width: 100%;
}

.details .quick-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.quick-links .img-container {
    align-self: center;
}


.quick-links nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.quick-links nav ul li {
    cursor: pointer;
}

.quick-links nav ul li:hover {
    color: #92989F;
}

.details .news-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3px;
}


.news-sub .sub-field {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.486);
    border-radius: 9999px;
    overflow: hidden;
    max-width: 350px;
}

.sub-field input {
    border: none;
    outline: none;
    padding: 10px 15px;
    background: transparent;
    color: white;
    width: 200px;
    font-size: 14px;
}

.sub-field input::placeholder {
    color: #cfd8dc;
}

.sub-field .sub-button {
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    border-radius:  9999px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    background-color: var(--amber-yellow-100);
    color: white;
}

.sub-field .sub-button:hover {
    background-color: var(--amber-yellow-200);
}

.footer-container .copyrights {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #92989F;
    width: 100%;
}


/* ========== Media Query ========== */

@media (min-width: 768px) {

    footer {
        padding: 100px;
    }

    .footer-container .details {
        flex-direction: row;
    }

    .quick-links .img-container {
        align-self: self-start;
    }

}