header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--teal-header);
    color: white;

    width: 100%;
    padding: 0 50px;
}

header .logo {
    width: 150px;
    height: 45px;
}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .desk-nav {
    display: none;
    width: 40%;
}

.desk-nav .desk-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.desk-ul li {
    cursor: pointer;
    font-size: large;
    padding: 8px;
}

.desk-ul li:hover {
    background-color: rgba(92, 92, 92, 0.404);
    border-bottom: solid 2px var(--slate-navy);
}

header .call {
    display: none;
    height:40px;
    width: fit-content;
    cursor: pointer;
    color: white;
}

header .call:hover {
    color: rgb(216, 213, 213);
}

header .call p{
    font-size: small;
}

header .call span {
    font-size: large;
    font-weight: bold;
}

header .menu {
    display:block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 5px;
}

header .menu:hover {
    background: rgba(211, 211, 211, 0.397);
    border-radius: 50%;
}

header .menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .mobile-nav {
    display: none;
    position: absolute;
    top: 45px;
    right: 0px;
    width: 200px;
    height: 60vh;
    background-color: inherit;
    border: none;
    padding: 30px 10px;
    z-index: 1000;
}

header .mobile-nav.show {
    display: block;
}

.mobile-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 80%;
}

.mobile-ul li {
    cursor: pointer;
    font-size: medium;
    width: fit-content;
    padding: 0 10px;
}

.mobile-ul li:hover {
    background-color: rgba(92, 92, 92, 0.404);
    border-bottom: solid 2px var(--slate-navy);
}

.mobile-nav .mobile-call {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.mobile-nav .mobile-call p{
    font-size: small;
}

.mobile-nav .mobile-call span {
    font-size: large;
    font-weight: bold;
}

/* ========== Media Query ========== */

@media (min-width: 768px) {
    header {
        justify-content: space-around;
        padding: 5px 10px;
    }

    header .desk-nav {
        display: block;
    }

    header .mobile-nav {
        display: none;
    }

    header .call {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    header .menu {
        display:none;
    }

    header .mobile-nav {
    display: none;
}
}
