.solar-kits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 80%;
    height: auto;
    padding: 30px 0;
    margin: 0 auto;
}

.solar-kits .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    text-align: center;
    margin: 0 10%;
    padding: 0 20px;
}

.solar-kits .title h1 {
    font-size: 30px;
    font-weight: 600;
}

.solar-kits .title p {
    color: var(--gray-600);
    font-size: x-small;
}

.solar-kits .products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 10px;
}

.solar-kits .product-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 300px;
    border: solid 1px rgba(211, 211, 211, 0.712);
}

.product-card .img-container {
    width: 100%;
    height: 150px;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card .card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.card-content .card-desc {
    color: var(--gray-600);
}

.card-content a {
    width: fit-content;
}

.product-card .card-content a:hover {
    color: lightseagreen;
    
}


/* ========== Media Query ========== */

@media (min-width: 768px) {
    .solar-kits {
        gap: 20px;
        width: 85%;
        height: auto;
    }

    .solar-kits .title h1 {
        font-size: 40px;
    }

    .solar-kits .title p {
        font-size: medium;
    }

    .solar-kits .products {
        gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .product-card .img-container {
        height: 200px;
    }
}